<div class="px-10 py-5">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-xs">Lorem ipsum dolor <span highlight> sit amet consectetur adipisicing elit.</span> Culpa, eum libero saepe voluptate quo modi alias! A quo dolore aut, architecto nostrum velit! In ut ad adipisci commodi saepe doloremque!</p>
    <div class = "text-xs">
        
        Numero de clientes: <app-counter [duration]="duration()" [message]="message()" *ngIf="duration()>0"/>
    </div>
    <div>
        <app-wave-audio audioUrl="assets/audio/BIOS.mp3"></app-wave-audio>
    </div>
</div>

